{% extends "template.html" %}
{% block content %}

  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-6"><img class="img-fluid d-block" src="/static/images/mobile.png"></div>
        <div class="col-md-6">
          <div class="col-md-12 align-self-center order-1 order-md-2 my-3 text-md-left text-center text-lowercase">
            <h2 contenteditable="true">Download Dawai App</h2>
            <p class="my-4" contenteditable="true">If you are using your mobile phone now, just press the button below to download the App</p>
            <a class="btn btn-outline-primary btn-block" href="/static/app/dawai.apk">Download</a>
            <p class="my-4 text-dark">If you are using your Personal computer, scan the following qr codeto&nbsp; download the App</p><img class="img-fluid d-block mx-auto" src="/static/images/QR.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12"><img class="img-fluid d-block" src="/static/images/tablet.png"></div>
      </div>
      <div class="row py-2">
      </div>
    </div>
  </div>
{% endblock %}