<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="theme.css">
</head>

<body>
  <nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <div class="container"> <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse" data-target="#navbar19">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar19"> <a class="navbar-brand d-none d-md-block" href="home.html">
          <i class="fa fa-stop-circle-o fa-lg fa-fw d-inline-block"></i>
          <b class="text-light"> Dawai</b>
        </a>
        <ul class="navbar-nav mx-auto text-capitalize shadow-none" style="">
          <li class="nav-item"> <a class="nav-link" href="home.html">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="Blogs.html">Blog</a> </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" href="herbs.html">Herbs</a><a class="dropdown-item" href="vitamins.html">Vitamins</a></div>
          </li>
          <li class="nav-item"><a class="nav-link" href="aboutus.html">About Us</a></li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item"> <a class="nav-link" href="#">
              <i class="fa fa-twitter fa-fw"></i>
            </a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">
              <i class="fa fa-facebook fa-fw"></i>
            </a> </li>
          <li class="nav-item"> <a class="nav-link" href="#">
            </a> </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="py-2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="" contenteditable="true">Vitamin A</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="d-flex flex-column justify-content-center p-3 col-lg-7">
          <p class="lead mb-0">Vitamin A is a group of compounds that play an important role in vision, bone growth, and reproduction. Vitamin A helps regulate the immune system. Deficiency symptoms of vitamin A: Deficiency of vitamin is rare as it needs can be met by food But if deficiency occur this can lead to serious complications such as : - Severe deficiency can lead to dry eye and ultimately to night blindness or total blindness .Skin disorders - - Infections, (such as measles ,Diarrhea). .Respiratory disorders - Dietary sources: Vitamin A comes in 2 forms Vitamin A comes from animal sources, such as: Eggs meat milk ,cheese and cream liver and kidney Cod and halibut fish oil. Sources of beta-carotene are: carrots, pumpkin, sweet potatoes, winter squashes , cantaloupe, pink grapefruit ,apricots,broccoli,spinach,and most dark green leafy vegetables.</p>
        </div>
        <div class="p-0 col-lg-5"> <img class="img-fluid d-block" src="C:/Users/gts/Desktop/dawai(1)/vitamins/v1.jpg"> </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2020 Faisal Al-Nimri/Yahiah Al-Halabi.&nbsp;</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  
</body>

</html>